@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #ffffff;

@define-color crust #11111b;
@define-color mantle #181825;
@define-color base #1e1e2e;
@define-color background  rgba(30, 30, 46, 0);

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color text #cdd6f4;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

* {
    background-color: transparent;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
}

#waybar {
    border: none;
    margin-top: 3px;
    background-color: rgba(30, 30, 46, 0.75);
    font-family: "JetBrainsMono Nerd Font";
}

.modules-left {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 12px;
    background-color: @crust;
}

.modules-right {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: @crust;
    border-radius: 12px;
}

.modules-center {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: @crust;
    border-radius: 12px;
}

#workspaces {
    border-radius: 12px;
}

#workspaces button {
    padding: 0 5px;
    margin: 5px 5px;
    min-width: 12px;
    border-radius: 12px;
    color: @text;
}

#workspaces button.active {
    background-color: @text;
    color: @mantle;
}

#clock {
    padding: 0 15px;
    margin: 5px 5px;
    background-color: @crust;
    min-width: 12px;
    border-radius: 12px;
    color: @text;
}

#language {
    padding: 0 10px;
    margin: 5px 5px;
    color: @text;
    min-width: 12px;
    border-radius: 12px;
}

#memory {
    padding: 0 5px;
    margin: 5px 5px;
    min-width: 12px;
    border-radius: 12px;
    color: @text;
}

#cpu {
    padding: 0 5px;
    margin: 5px 5px;
    color: @text;
    min-width: 12px;
    border-radius: 12px;
    color: @text;
}

#network {
    padding: 0 5px;
    margin: 5px 5px;
    min-width: 12px;
    color: @text;
    border-radius: 12px;
}

#bluetooth {
    padding: 0 5px;
    margin: 5px 5px;
    min-width: 12px;
    border-radius: 12px;
    color: @text;
}

#pulseaudio {
    padding: 0 5px;
    margin: 5px 5px;
    min-width: 12px;
    border-radius: 12px;
    color: @text;
}
#custom-spotify {
    padding: 0 10px;
    margin: 5px 5px;
    background-color: @base;
    color: #1e1e2e;
    min-width: 12px;
    border-radius: 12px;
    color: @text;
}

#custom-expand-icon {
    margin-right: 7px;
}

tooltip {
    padding: 2px;
}

#custom-update {
    font-size: 10px;
}

#clock {
    margin-left: 8.75px;
}

.hidden {
    opacity: 0;
}

#custom-screenrecording-indicator {
    min-width: 12px;
    margin-left: 8.75px;
    font-size: 10px;
}

#custom-screenrecording-indicator.active {
    color: #a55555;
}